<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NFCToys</title>

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application' %>

    <%= javascript_include_tag 'application' %>

    <%= stylesheet_link_tag 'vuetify.min', media: 'all' %>
    <%= stylesheet_link_tag 'material_design_icons', media: 'all' %>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

    <link rel="manifest" href="/manifest.json" />

    <% ### PWA Compat(manifest) ### %>
    <link rel="manifest" href="manifest.webmanifest" />

    <% ### PWA Compat ### %>
    <% # 注) PWA Compat の manifestの後に詠込む %>
    <script async src="https://cdn.jsdelivr.net/npm/pwacompat@2.0.9/pwacompat.min.js"
    integrity="sha384-VcI6S+HIsE80FVM1jgbd6WDFhzKYA0PecD/LcIyMQpT4fMJdijBh0I7Iblaacawc"
    crossorigin="anonymous"></script>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
